html {
  height: 100%;
}

body {
  background-image: url("img/1614441349_54-p-temnii-fon-dlya-chata-66.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin-top: 24px;
}

.settings {
  max-width: 330px;
}

.settings__button {
  display: block;
  width: 100%;
  height: 40px;
  margin: auto;
}

.settings__button:nth-of-type(2) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.settings__button:nth-of-type(3) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.settings__range {
  width: 300px;
  margin: auto;
  margin-top: 2rem;
  padding: 6px 6px 10px 0;
  text-align: center;
  border-radius: 15px;
  color: #fff;
  background: black;
}

.game__example {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.game__circle {
  width: 125px;
  height: 125px;
  background: url("img/hitcircle.png");
  cursor: pointer;
}

.game__circle-text {
  color: #fff;
  margin-left: 2rem;
  padding-top: 1.5rem;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: Arial;
}

.game__streak {
  position: absolute;
  bottom: 14px;
  right: 24px;
  font-size: 2rem;
  color: #fff;
}
