html {
  height: 100%;
}

body {
  background-image: url("img/1614441349_54-p-temnii-fon-dlya-chata-66.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.circle {
  width: 125px;
  height: 125px;
  background: url("img/hitcircle.png");
  cursor: pointer;
}

.container {
  margin-top: 24px;
}

.settings {
  border-radius: 0;
}

#math-example {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.circle-text {
  color: #fff;
  margin-left: 2rem;
  padding-top: 1.5rem;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: Arial;
}

#settings-buttons {
  width: 100%;
  margin-left: auto;
}

#settings-buttons:first-child {
  margin-top: 24px;
}

.button-settings {
  width: 240px;
  height: 40px;
  margin: auto;
  display: block;
}

#maxRangeText {
  width: 300px;
  margin: auto;
  border-radius: 15px;
  background: black;
  padding: 5px 5px 10px 0;
  margin-top: 2rem;
  text-align: center;
}

#add-range-btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#decrease-range-btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#streak-text {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  bottom: 14px;
  right: 24px;
}
