#game {
    width: 1280px;
    height: 720px;
}

.circle {
    width: 125px;
    height: 125px;
    background: url("hitcircle.png");
}

img {
    margin-left: 2.5rem;
    margin-top: 2.2rem;
}

body {
    background-image: url("1614441349_54-p-temnii-fon-dlya-chata-66.jpg")
}

#math-example {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}